/* Definir variables CSS para los colores */
:root {
  --c-aa8744: #aa8744; /* Color principal (dorado) */
  --c-363636: #363636; /* Color de texto oscuro */
  --c-fdfbf3: #fdfbf3; /* Color de fondo principal */
  --c-d1bc97: #d1bc97; /* Color de borde del input */
  --c-9c642d: #9c642d; /* Color principal oscuro */
}

/* Clases de Tailwind personalizadas usando las variables CSS */
.bg-fondo-principal {
  background-color: var(--c-fdfbf3);
}
.text-color-principal {
  color: var(--c-aa8744);
}
.bg-color-principal {
  background-color: var(--c-aa8744);
}
.border-color-principal {
  border-color: var(--c-aa8744);
}
.text-color-texto-oscuro {
  color: var(--c-363636);
}
.text-color-secundario {
  color: var(--c-9c642d);
}
.text-color-blanco {
  color: white;
}
.border-color-borde-input {
  border-color: var(--c-d1bc97);
}
.hover\:bg-color-principal-oscuro:hover {
  background-color: var(--c-9c642d);
}
.hover\:bg-fondo-principal:hover {
  background-color: var(--c-fdfbf3);
}
.ring-color-principal {
  --tw-ring-color: var(--c-aa8744);
}
.accent-color-principal {
  accent-color: var(--c-aa8744);
}
.relative.flex.size-full.min-h-screen {
  min-height: 100vh;
}