# Datos de la DB (variables de entorno)
.env
.env.*

# Archivos temporales de Python
__pycache__/
*.pyc
*/__pycache__/

# Configuracion del sistema
*.log
*.DS_Store

# DB
*.db
*.sqlite3

# Archivos y dependencias
entorno/
.env/