# Datos de la DB (variables de entorno)
.env
.env.*

# Archivos temporales de Python
*.pyc
*/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd


# Configuracion del sistema
*.log
*.DS_Store

# DB
*.db
*.sqlite3
backend/db/db.py

# Archivos y dependencias
entorno/
.env/

# Docker
Dockerfile
.dockerignore