:root {
    --color-primary: #aa8744;
    --color-secondary: #fdfbf3;
    --color-text-primary: #363636;
    --color-text-secondary: #9c642d;
    --color-accent: #d1bc97;
}

/* Estilos base */
body {
    font-family: Inter, "Noto Sans", sans-serif;
    color: var(--color-text-primary);
    background-color: var(--color-secondary);
}

/* Titulos */
h1,
h2,
h3 {
    font-family: Inter, "Noto Sans", sans-serif;
    font-weight: 700;
}

/* Iconos */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Grid */
.pixel-grid {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-accent);
    cursor: crosshair;
    image-rendering: pixelated;
}

/* Sidebar */
.sidebar {
    width: 100%;
    max-width: 260px;
    background: white;
    border-right: 1px solid var(--border-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-family: Inter, "Noto Sans", sans-serif;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo h1 {
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

.nav-menu {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    text-decoration: none;
    color: var(--text-primary);
    border-radius: 6px;
    transition: 0.3s;
    font-size: 14px;
}

.nav-menu a:hover {
    background: #f5f5f5;
    color: var(--primary-color);
}

.nav-menu a.active {
    background: var(--border-color);
    font-weight: bold;
}

.logout {
    margin-top: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logout a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    text-decoration: none;
    color: var(--text-primary);
    border-radius: 6px;
    transition: 0.3s;
    font-size: 14px;
}

.logout a:hover {
    background: #f5f5f5;
    color: var(--primary-color);
}